<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ul class="basic_navi clearfix">
          <li><a href="#">About AsianInspection</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12">
        <ul class="social_navi clearfix pull-right">
          <li class='facebook'><a href="#"><span class="fa fa-facebook fa-2x"></span></a></li>
          <li class='twitter'><a href="#"><span class="fa fa-twitter fa-2x"></span></a></li>
          <li class='youtube'><a href="#"><span class="fa fa-youtube-play fa-2x"></span></a></li>
          <li class='google'><a href="#"><span class="fa fa-google-plus fa-2x"></span></a></li>
          <li class='linkedin'><a href="#"><span class="fa fa-linkedin-square fa-2x"></span></a></li>
          <li><a href="#"><img src="{{ asset('img/AppStore_icon.png') }}"></a></li>
          <li><a href="#"><img src="{{ asset('img/GooglePlay_icon.png') }}"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
