<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <ul class="basic_navi clearfix">
          <li><a href="#">About AsianInspection</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12">
        <ul class="social_navi clearfix pull-right">
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
          <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
